[buildout]
parts =
    python
    ipython
    pytest
    sphinxbuilder
develop = .
eggs = supercell[test, futures]
versions = versions

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[ipython]
recipe = zc.recipe.egg:scripts
scripts = ipython
eggs = 
    ipython
    ${buildout:eggs}

[pytest]
recipe = zc.recipe.egg:scripts
# Need exit status code for buildbot.
# See https://bugs.launchpad.net/zc.buildout/+bug/164629
script-initialization =
    import pytest
    if __name__ == '__main__': sys.exit(pytest.main())
eggs =
    pytest
    pytest-cov
    ${buildout:eggs}
scripts = py.test

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs
eggs = ${buildout:eggs}

[versions]
